<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/progarchsoftware?serverTimezone=UTC</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- Dialetto SQL del DB a cui ci colleghiamo -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- Proprieta' che indica se stampare a console l'SQL generato -->
		<property name="show_sql">true</property>

		<!-- Scelta della modalita' di aggiornamento dello schema -->
		<property name="hbm2ddl.auto">update</property>

		<!-- dbcp connection pool configuration -->
		<property name="hibernate.dbcp.initialSize">5</property>
		<property name="hibernate.dbcp.maxTotal">20</property>
		<property name="hibernate.dbcp.maxIdle">10</property>
		<property name="hibernate.dbcp.minIdle">5</property>
		<property name="hibernate.dbcp.maxWaitMillis">-1</property>

		<!-- mapping entita' -->
		<mapping class="it.jac.javadb.entity.Persona" />
		<mapping class="it.jac.javadb.entity.Malattia" />
		<mapping class="it.jac.javadb.entity.Vaccino" />
		<mapping class="it.jac.javadb.entity.Vaccinazione" />
		<mapping class="it.jac.javadb.entity.Vaccinato" />
		<mapping class="it.jac.javadb.entity.Ammalato" />
		<mapping class="it.jac.javadb.entity.Prevenzione" />
		<mapping class="it.jac.javadb.entity.Somministrazione" />

	</session-factory>
</hibernate-configuration>